In [ ]:
import gEconpy as ge
import gEconpy.plotting as gp
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
import statsmodels.api as sm

config = {
    'figure.figsize':(14,4),
    'figure.dpi':144,
    'figure.facecolor':'white',
    'axes.grid':True,
    'grid.linestyle':'--',
    'grid.linewidth':0.5,
    'axes.spines.top':False,
    'axes.spines.bottom':False,
    'axes.spines.left':False,
    'axes.spines.right':False
}

plt.rcParams.update(config)

In [4]:
df = fred_indicators = ['IRLTLT01DKQ156N', # 10 yr gov bonds 
                        'NAEXKP01DKQ189S', # gdp seasonally adjusted quarterly 
                        'NAEXKP02DKQ189S', #consumption seasonally adjusted and quarterly 
                        'NAEXKP04DKQ189S', #gross capital formation seasonally adjusted and quarterly 
                        'RKNANPDKA666NRUG', #capital stock not seasonally adjusted and annualy 
                        'DNKLOCOSTORSTM', # short term interest rates not seasonally adjusted and mmonthly 
                        'NAEXKP06DKQ652S', # exports seasonally adjusted and quarterly 
                        'NAEXKP07DKQ652S', #imports seasonally adjusted and quarterly 
                       ]
import pandas_datareader
pandas_datareader.fred.FredReader(symbols = fred_indicators, start='1900-01-01', end=None).read()

,IRLTLT01DKQ156N,NAEXKP01DKQ189S,NAEXKP02DKQ189S,NAEXKP04DKQ189S,RKNANPDKA666NRUG,DNKLOCOSTORSTM,NAEXKP06DKQ652S,NAEXKP07DKQ652S
DATE,,,,,,,,
1950-01-01,NaN,NaN,NaN,NaN,203497.859375,NaN,NaN,NaN
1951-01-01,NaN,NaN,NaN,NaN,206158.671875,NaN,NaN,NaN
1952-01-01,NaN,NaN,NaN,NaN,208901.093750,NaN,NaN,NaN
1953-01-01,NaN,NaN,NaN,NaN,214274.093750,NaN,NaN,NaN
1954-01-01,NaN,NaN,NaN,NaN,220242.234375,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-10-01,2.420667,5.719180e+11,2.528550e+11,1.385479e+11,NaN,1.25,3.607410e+11,3.201785e+11
2022-11-01,NaN,NaN,NaN,NaN,NaN,1.25,NaN,NaN
2023-01-01,2.509667,5.779868e+11,2.534612e+11,1.187667e+11,NaN,NaN,3.741787e+11,3.156046e+11
2023-04-01,2.569000,5.726660e+11,2.553740e+11,1.202073e+11,NaN,NaN,3.860724e+11,3.310575e+11
2023-07-01,2.763000,5.722518e+11,2.588093e+11,1.244797e+11,NaN,NaN,4.059086e+11,3.683665e+11

In [9]:
#applying logarithmic transformations

import pandas as pd
import numpy as np

# Load your dataset (replace 'your_dataset.csv' with your file path or name)
data = pd.read_csv('D:\DATOS\DESCARGAS\IRLTLT01DKQ156N.csv')

# Apply logarithmic transformation to the 'IRLTLT01DKQ156N' column
data['Log_IRLTLT01DKQ156N'] = np.log(data[data['IRLTLT01DKQ156N'] > 0]['IRLTLT01DKQ156N'])
data['Log_IRLTLT01DKQ156N'].fillna(0, inplace=True)

# Optionally, you can save the modified dataset to a new CSV file
data.to_csv('log_transformed_data.csv', index=False)

In [23]:
import pandas as pd
import numpy as np

# Read the CSV file directly into a DataFrame
df = pd.read_csv('D:\DATOS\DESCARGAS\IRLTLT01DKQ156N.csv')

# Convert 'DATE' column to datetime
df['DATE'] = pd.to_datetime(df['DATE'])

# Set 'DATE' column as index
df.set_index('DATE', inplace=True)

# Apply logarithmic transformation
df['Log_IRLTLT01DKQ156N'] = np.log(data[data['IRLTLT01DKQ156N'] > 0]['IRLTLT01DKQ156N'])
df['Log_IRLTLT01DKQ156N'].fillna(0, inplace=True)

# Resample to quarterly intervals
df_quarterly = df.resample('Q').mean()

# Reset index to make 'DATE' a column again
df_quarterly = df_quarterly.reset_index()

# Print the aggregated dataset
print(df_quarterly)

          DATE  IRLTLT01DKQ156N  Log_IRLTLT01DKQ156N
0   1987-03-31        11.435110                  0.0
1   1987-06-30        11.114907                  0.0
2   1987-09-30        11.137033                  0.0
3   1987-12-31        11.450357                  0.0
4   1988-03-31        10.201543                  0.0
..         ...              ...                  ...
142 2022-09-30         1.720333                  0.0
143 2022-12-31         2.420667                  0.0
144 2023-03-31         2.509667                  0.0
145 2023-06-30         2.569000                  0.0
146 2023-09-30         2.763000                  0.0

[147 rows x 3 columns]